* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /*display: grid;*/
    text-align: center;
    background-color: #f0f0f0;
    grid-template-rows: 15% 10% 10% 15% 35% 25%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "icon"
        "nav"
        "article"
        "circles"
        "footer";
}
/*defining grid areas*/
.icon {
    grid-area: icon;
}

/*.title {*/
/*    grid-area: title;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-family: 'Abel', sans-serif;*/
/*    margin-top: 1.2em;*/
/*    font-size: x-large;*/
/*}*/
.nav {
    grid-area: nav;




}
.nav ul {
    display: flex;
    font-family: 'Abel', sans-serif;
    justify-content: space-evenly;
    padding: 1em 100px;
    list-style: none;
    font-size: smaller;

}


.nav h3 {

    font-family: 'Abel', sans-serif;
    font-size: xx-large;
    margin-top: 1.2em;
}

.article {
    grid-area: article;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    margin-top: 1em;
}
blockquote {
    padding: .8em 0;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.circles {
    grid-area: circles;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    font-family: 'Anton', sans-serif;
    color: white;
    width: 300px;
    height: 300px;
}
.red {
    width: 125px;
    height: 125px;
    grid-area: 1 / 1 / 2 / 2;
    background: #e6563b;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;
    justify-self: flex-end;
    align-self: center;


}
.orange {
    grid-area: 1 / 2 / span 1 / span 1;
    width: 125px;
    height: 125px;
    background: #EB9D3A;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;
    justify-self: flex-end;
    align-self: center;
}
.green {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 125px;
    height: 125px;
    background: #7cb06c;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;
    justify-self: flex-end;

}
.cyan {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 125px;
    height: 125px;
    background: #00aba9;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;
    justify-self: flex-end;


}
h5 {
    margin: auto;
    font-size: x-large;

}

.footer {
    grid-area: footer;
}
header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 55px;
    margin-top: 3em;
}

img {
    height: 105px;
    width: 105px;
    margin-top: -24px;



}


.selected {

    font-family: 'Abel', sans-serif;
    width: 100%;
    height: auto;
    margin-top: 5.5em;
}
blockquote {
    height: auto;
    width: 100%;
    /*border: 1px solid darkviolet;*/
}
.apple {
    margin-top: 2em;
    width: 60%;
    height: auto;
    border: 8px solid #e6e6e6;
    border-radius: 6px;

}
.badge {
    display: flex;
    width: 60%;
    height: auto;
    align-content: center;
    margin: 10px auto;



}
.product {

    margin-right: auto;
}

h6 {
    backgroundcol: #e6563b;
}
.d2 {
    background: #EB9D3A;
}
.s3 {
    background: #7cb06c;
}
.h4 {
    background: #00aba9;
}
.badge1 {
    width: 18px;
    height: 18px;
    background: #EB9D3A;
    border-radius: 50%;
    font-size: x-small;

    margin-right: .5em;

}
/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {









}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {






}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {




}