* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #f0f0f0;
    grid-template-rows: 15% 10% 10% 15% 35% 25%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "icon"
        "nav"
        "article"
        "circles"
        "footer";
}
/*defining grid areas*/
.icon {
    grid-area: icon;
}

/*.title {*/
/*    grid-area: title;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-family: 'Abel', sans-serif;*/
/*    margin-top: 1.2em;*/
/*    font-size: x-large;*/
/*}*/
.nav {
    grid-area: nav;




}
.nav ul {
    display: flex;
    font-family: 'Abel', sans-serif;
    justify-content: space-evenly;
    padding: 1em 100px;
    list-style: none;
    font-size: smaller;

}


.nav h3 {

    font-family: 'Abel', sans-serif;
    font-size: xx-large;
    margin-top: 1.2em;
}

.article {
    grid-area: article;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    margin-top: 1em;
}
blockquote {
    padding: .8em 0;
}

.circles {
    grid-area: circles;
    font-family: 'Anton', sans-serif;
    color: white;
}
.red {
    width: 100px;
    height: 100px;
    background: #e6563b;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;

}
.orange {
    width: 100px;
    height: 100px;
    background: #EB9D3A;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;

}
.green {
    width: 100px;
    height: 100px;
    background: #7cb06c;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;

}
.cyan {
    width: 100px;
    height: 100px;
    background: #00aba9;
    border-radius: 50%;
    border: .5em solid white ;
    display: flex;

}
h5 {
    align-self: center;
    justify-self: flex-end;

}

.footer {
    grid-area: footer;
}
header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 55px;
    margin-top: 3em;
}

img {
    height: 105px;
    width: 105px;
    margin-top: -24px;



}



/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {










}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {






}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {




}